<header>
  <div class="conteiner">
    <a  routerLink="/" class="logo">Система рейтинга</a>
  </div>
</header>
<div class="home-page">
  <div class="filter">
    <h1>Фильтры</h1>
    <div class="elem">В алфавитном порядке</div>
    <div class="elem">Дешёвые</div>
    <div class="elem">Популярные</div>
  </div>
  <ul class="list-book">
    <div *ngFor ="let book of books" class="card">
      <a routerLink="/book/{{book.id}}">
        <img src="{{book.imageUrl}}" alt="#" class="up-card">
        <div class="content">
          <div class="name">
            Название:{{book.name}}
          </div>
          <div class="page">
            Страниц:{{book.paged}}
          </div>
          <div class="genre">
            Жанр:{{book.genre}}
          </div>
        </div>
      </a>
    </div>
  </ul>
</div>
